﻿@page
@model WebShopRM.Pages.Cart.CartModel
@{
    
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cart</title>
</head>
<body>

    <h3>Cart</h3>
    <table cellpadding="2" cellspacing="2" border="1">
        <tr>
            <th>Action</th>
            <th>Id</th>
            <th>Name</th>
            @*<th>Photo</th>*@
            <th>Price</th>
            <th>Tax</th>
            <th>Quantity</th>
            <th>Sub Total</th>
        </tr>
        @*@foreach(var cart in (List<Cart>)Session["Cart"])*@
        @{ double total = 0;}
        @foreach (var item in Model.cart)
        {
            <tr>
                <td><a asp-page="cart" asp-page-handler="remove" asp-route-id="@item.Product.Id">Remove</a></td>
                <td>@item.Product.Id</td>
                <td>@item.Product.ProductName</td>
                @*<td><img src="~/images/@item.Product.Photo" width="60" /> </td>*@
                <td>@item.Product.Price</td>

                <td>@item.Product.Vat</td>
                <td>@item.Quantity</td>
                <td>@(String.Format("{0:N0}", item.Product.Price * item.Quantity))</td>
            </tr>
        }
        <tr>
            <td align="right" colspan="6">Sum</td>
            <td>

                @Model.Total
            </td>
        </tr>
    </table>
    <br>
    <a asp-page="/products/catalog">Continue Shopping</a>

</body>
</html>