﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebShopRM</title>



    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>

    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/chosen/chosen.min.css" rel="stylesheet" />

    <link href="~/lib/bootstrap-multiselect/css/bootstrap-multiselect.css" rel="stylesheet" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 bg-dark">
            @*bg-white*@
            <div class="container">


                <a class="navbar-brand" asp-area="" asp-page="/Index">WebShopRM</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        @*<li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                            </li>*@
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" data-toggle="dropdown" asp-area="" asp-page="/Products/index">Products<span class="caret"></span></a>
                            <ul class="dropdown-menu" id="ul-dropdown">
                                <li>
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Products/index">Product list</a>
                                </li>
                                <li>
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Products/paginate">Products paginated</a>
                                </li>
                                <li>
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Products/catalog">Product catalog</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Pictures/index">Pictures</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Categories/index">Categories</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                        <li>
                            @*@Html.ActionLink("Cart", "Index","ShoppingCart")*@
                            <a class="nav-link text-dark" asp-area="" asp-page="/Cart/Cart">Shopping basket</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - WebShopRM - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/lib/bootstrap-multiselect/js/bootstrap-multiselect.min.js"></script>

    <script src="~/lib/chosen/chosen.jquery.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
<style>
    .bg-color{
        
    }
    .navbar-brand{
        border-style: solid;
        border-width: 4px;
        border-color: black;
        border-radius: 10px;
        background-color:darkcyan;
        padding: 6px;
        color: white;
        font-weight: bold;
        text-shadow: 0 0px 2px white;
        box-shadow: 0px 0px 3px grey;  
    }
    li{
        border-style: solid;
        border-color: black;
        border-radius: 10px;
        border-width: 2px;
        /*background-color:darkturquoise;*/
        background-color:mediumturquoise;
        margin: 2px;
        box-shadow: 0px 0px 3px grey, inset 0px 0px 3px white;
        text-shadow: 0 0 3px white;
        font-weight:500;
    }
    #ul-dropdown{
        border-style:none ;
        background: none;
        /*display: none;*/
        margin: 0;
        /*opacity:0;*/
    }

</style>