﻿@page
@model WebShopRM.Models.PicturesViewModel


    <form method="post" enctype="multipart/form-data" >
        <div class="form-group">
            <div class="col-md-10">
                <p>Upload one or more files using this form:</p>
                <input type="file" name="files" multiple>
            </div>
            <div class="col-md-10">
            <p>Picturename:</p>
            <input type="text" name="PicName" multiple>
        </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Upload">
            </div>
        </div>
    </form>


@using (Html.BeginForm("Create", "PicturesViewModel", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="form-group">
    <label class="control-label">Name</label>
    @Html.TextBoxFor(model => model.PicName, new { @class = "form-control" })
</div>
<div class="form-group">
    <label class="control-label">Avatar</label>
    @Html.TextBoxFor(model => model.UploadFile, new { type = "file", @class="form-control" })
</div>
<div class="form-group">
    <input type="submit" value="Create" class="btn btn-default" />
</div>
}
