﻿@page
@model  Pages.Pictures.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Picture</h4>
<hr />


<div class="row">
    <div class="col-md-4">

        <form method="post" enctype="multipart/form-data" asp-action="OnPostAsync">

            <div class=form-group>
                <label class="control-label" id="picture">Picture</label>
                <input type="file" asp-for="UploadFile" onchange="previewFile()" ID="fileInput"  /><br /> @*name="ImgFile" accept="image/*"*@
                <label class="text-danger" id="lblWarning"></label>
                <div id="divBild">
                    <img src="" alt="Preview pic shown here" id="imgPreview">
                </div>
            </div>

            <script>
                function previewFile() {
                    var preview = document.querySelector('#imgPreview');
                    var file = document.querySelector('input[type=file]').files[0];
                    //var filesize = document.querySelector('input[type=file]').files[0].size;
                    var reader = new FileReader();

                     reader.addEventListener("load", function () {
                        preview.src = reader.result;
                    }, false);

                    if (file) {
                        reader.readAsDataURL(file);
                        document.getElementById("divBildLabel").style.visibility = "hidden";
                    };

                    reader.onload = function () {
                        var img = new Image;
                        img.src = reader.result;
                        var w = img.width;
                        var h = img.height;
                        document.getElementById("lblPicture").innerHTML = "Picture format " + h + "x" + w;
                        if (h < 250 || w < 250) {
                            document.getElementById("lblWarning").innerHTML = "<h3>" + h + "x" + w + " is too small picture, choose another!</h3> Get format bigger than 250x250";
                        }; 
                    };

                }
            </script>

            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
            <div class="form-group">
                <label asp-for="PicName" class="control-label"></label>
                <input asp-for="PicName" class="form-control" />
                @*<span asp-validation-for="PicName" class="text-danger"></span>*@
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                @*<button type="submit">Submit</button>*@
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>
    #divBild {
        height: 300px;
        width: 300px;
        margin: auto;
        align-items: center;
        border-style: solid;
        border-width: 1px;
        border-color: lightgray;
    }

    #imgPreview {
        max-height: 300px;
        max-width: 300px;
        border-style: solid;
        border-width: 1px;
        border-color: lightgray;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>
