﻿@page
@model WebShopRM.Pages.Pictures.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Picture</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Picture.PicName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Picture.PicName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Picture.PicSizes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Picture.PicSizes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Picture.PicSizeOriginal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Picture.PicSizeOriginal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Picture.PicPath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Picture.PicPath)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Picture.Updated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Picture.Updated)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Picture.PictureID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
