﻿@page
@model WebShopRM.Pages.Pictures.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Picture</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Picture.PictureID" />
            <div class="form-group">
                <label asp-for="Picture.PicName" class="control-label"></label>
                <input asp-for="Picture.PicName" class="form-control" />
                <span asp-validation-for="Picture.PicName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Picture.PicSizes" class="control-label"></label>
                <input asp-for="Picture.PicSizes" class="form-control" readonly="true"/>
                <span asp-validation-for="Picture.PicSizes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Picture.PicSizeOriginal" class="control-label"></label>
                <input asp-for="Picture.PicSizeOriginal" class="form-control" readonly="@(true)"/>
                <span asp-validation-for="Picture.PicSizeOriginal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Picture.PicPath" class="control-label"></label>
                <input asp-for="Picture.PicPath" class="form-control" readonly="@(true)"/>
                <span asp-validation-for="Picture.PicPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Picture.Updated" class="control-label"></label>
                <input asp-for="Picture.Updated" class="form-control" readonly="@(true)"/>
                <span asp-validation-for="Picture.Updated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
