﻿@page
@model WebShopRM.Pages.Pictures.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Picture Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Picture
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture[0].PicName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Picture[0].PicPath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture[0].Updated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Picture) {
        <tr>
            <td>
                @if (item.PicPath != null)
                {
                    @*<img src="@Html.DisplayFor(modelItem => item.ImagePath + "/" + @item.ImageName + "-256.jpg")" />*@
                    <img src="@Html.DisplayFor(modelItem=>item.PicPath)" alt="Image" />
                    @*<img src="~/Images/@Html.DisplayFor(modelItem => item.ImagePath)/@Html.DisplayFor(modelItem => item.ImageName + "-256.jpg")" alt="Image" style="width:80px" />*@
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PicName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PicPath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Updated)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PictureID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PictureID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PictureID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<style>
    img {
        max-width: 100px;
        max-height: 100px;
    }
</style>
