﻿@page
@model WebShopRM.Pages.Products.CatalogModel
@addTagHelper *, Microsoft.AapNetCore.MVC.TagHelpers
@{
    ViewData["Title"] = "Catalog";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<form asp-page="./Catalog" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Catalog">Back to full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <td>
                <a asp-page="./Catalog" asp-route-sortOrder="@Model.NameSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Products[0].ProductName)<text>  &#8645;</text>
                </a>
            </td>
            
            <td>
                <a asp-page="./Catalog" asp-route-sortOrder="@Model.PriceSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Products[0].Price)<text>  &#8645;</text>
                </a>
            </td>
            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="2">
                <div class="container">

                    <div class="card-deck">
                        @foreach (var item in Model.Products)
                        {
                            <div class="card">
                            @*<img class="card-img-top" src="~/@Url.Content(item.picture.PicPath)" style="width:100%" max-height="200px" max-width="100px" />*@


                             <img src="~/@Url.Content(Model.productAndPictures.Where(x=>x.product.Id == item.Id).Select(x=>x.picture.PicPath).FirstOrDefault())" id="imgProduct" /> @*style="width:100%"*@

                                <div class="card-body d-flex flex-column">
                                @*<div class="detailswrapper">*@
                                    <div class="productname">
                                        @Html.DisplayFor(modelItem => item.ProductName)
                                    </div>
                                    <div>
                                        @Html.DisplayFor(modelItem => item.PartNumber)
                                    </div>
                                    <div class="description">
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </div>
                                    <div class="price">
                                        @Html.DisplayFor(modelItem => item.Price)<text> kr</text>
                                    </div>
                                   
                                @*</div>*@
                                <div class="button mr-auto">
                                @*<a id="btn_add" href="@Url.Action("Add", "AddToCart")" class="btn btn-info btn-lg">*@
                                @*<a asp-page="Cart" asp-page-handler="Buy" asp-route-id="@item.Id">Buy</a>*@

                                <a asp-page="/cart/cart" asp-page-handler="buy" asp-route-id="@item.Id">Buy</a>

                                @*@Html.ActionLink("Add to Cart", "AddToBasket", "ShoppingCart", new { id = item.Id }, null)*@
                                    @*<a asp-page="Cart" asp-route-id="@item.Id">Buy</a>*@
                                @*<a asp-action="Cart" asp-route-id="@item.Id">
                                    <span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart
                                </a>*@

                                </div>
                              </div>
                            </div>
                        }
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>

@{
    var prevDisabled = !Model.Products.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Products.HasNextPage ? "disabled" : "";
}

<a asp-page="./catalog"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Products.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./catalog"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Products.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    Next
</a>

<style>
    .card{
        border-style: solid;
       /*border-color: black;*/
        border-radius: 3px;
        border-width: 1px;
        /*background-color:darkturquoise;*/
        /*margin: 2px;*/
        box-shadow: 0px 2px 3px grey, inset 2px 2px 3px white;
        text-shadow: 0px 0px 2px white;
        
    }
    #imgProduct {
        max-height: 200px;
        /*max-width: 300px;*/
        object-fit: contain;

        z-index: 0; /*under card border*/
    }
    .card-body{
        padding:5px;
        flex-direction:row;
        justify-content: space-between;
        align-content: space-between;
    }
    /*.detailswrapper{
        
        justify-content: space-between;
    }*/
    .button{
        
        align-self:flex-end;
        border-style: solid;
        border-width: .5px;
        border-color: black;
        border-radius: 2px;
        box-shadow: 0 0 2px darkgray;

    }
    .price {
        font-weight: bold;
    }
    .productname{
        font-weight: bold;
    }

</style>


