﻿@page
@*@model WebShopRM.Models.AddProductVM*@
@model WebShopRM.Pages.Products.CreateModel

@System.Globalization.CultureInfo.CurrentUICulture

@{
    //ViewData["Title"] = "Create";
    //ViewBag[Categories];
    //Html.DropDownList("CategoryID",(MultiSelectList) ViewBag.Categories, new { multiple = "multiple" });
}
    <head>
        <link href="~/css/chosen.min.css" rel="stylesheet" />
    </head>
<h1>Create</h1>

<h4>Product</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post">


            @if (Model.AllCategories != null)
            {
                <div class="form-group">
                    <label class="control-label">Välj kategorier / Select categories</label><br />
                    @*@Html.DropDownListFor(model => model.SelectedCategories, new SelectList(Model.AllCategories, "CategoryID", "CategoryName"), new { id="normalDropDown" })*@

                    @Html.ListBoxFor(model => model.SelectedCategories, new MultiSelectList(Model.AllCategories, "CategoryID", "CategoryName"), new { id = "multiSelectDropDown", multiple = "multiple" })<text>Sök eller klicka</text>@*, new { @class = "form-control" } )*@    @*, new { htmlAttributes = new { @class = "form-control" } })*@
                </div>
            }


            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label">Produkt namn / Product name</label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartNumber" class="control-label">Artikelnummer / Part number</label>
                <input asp-for="PartNumber" class="form-control" />
                <span asp-validation-for="PartNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ISBN" class="control-label"></label>
                <input asp-for="ISBN" class="form-control" />
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Beskrivning / Description</label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Price" class="control-label">Utpris / Sales price</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tax" class="control-label">Moms / Sales tax</label>
                <input asp-for="Tax" class="form-control" />
                @*<span asp-validation-for="Tax" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="StockQuantity" class="control-label">Antal i lager / Stock quantity</label>
                <input asp-for="StockQuantity" class="form-control" />
                <span asp-validation-for="StockQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Visible" class="control-label">Synlig / Visible</label>
                <input asp-for="Visible" class="form-control move-left" type="checkbox" id="chkVisible" />

            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>
@*<script src="js/site.js" asp-append-version="true"></script>*@


@section Scripts {

    @*<script src="js/site.js" asp-append-version="true"></script>
        <script src="~/lib/jquery/dist/chosen.jquery.min.js"></script>
        <script type="text/javascript" src="~/lib/jquery/dist/chosen.jquery.min.js"></script>*@
    <!-- cldr scripts (needed for globalize) -->
    <script src="~/lib/cldrjs/dist/cldr.js"></script>
    <script src="~/lib/cldrjs/dist/cldr/event.js"></script>
    <script src="~/lib/cldrjs/dist/cldr/supplemental.js"></script>

    <script src="~/lib/globalize/globalize.js"></script>
    <script src="~/lib/globalize/globalize/number.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>

    <script src="~/lib/jquery-validation-globalize/jquery.validate.globalize.js"></script>
    <script src="~/lib/globalize/globalize.js"></script>


    <script src="~/js/chosen.jquery.min.js"></script>
    
    @*<script src="~/lib/chosen/chosen.jquery.min.js"></script>
    <script src="~/lib/chosen/chosen.jquery.js"></script>*@

    <script>


        $(function () {
            $("#multiSelectDropDown").chosen()

        });
                                    //multiSelectDropDown
                                    //$(function () {
                                    //    $("#multiSelectDropDown").chosen({
                                    //        width: "60%"
                                    //    });
                                    //});

                                    //dropdown
                                    //$(function () {
                                    //    $("#normalDropDown").chosen({
                                    //        disable_search_threshold: 5
                                    //    });
                                    //});
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>
    #chkVisible {
        width: 30px;
        height: 30px;
    }

    #multiSelectDropDown {
        width: 100%;
        height: 60px;
        /*border-radius: 10px;
        border-color: lightgray;*/
    }
</style>