﻿@page
@model WebShopRM.Pages.Products.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.PartNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.PartNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ISBN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ISBN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Description)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Vat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Vat)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Updated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Updated)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Product.ProductCategory)*@
            <text>Category</text>
        </dt>
        <dd class="col-sm-10">
        @foreach (var a in ViewData["Details"] as IQueryable<Models.Category>)
        {
            @a.CategoryName <text> </text>
        }
        </dd>
        <dd class="col-sm-10">
            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4">

                @foreach (var item in Model.ThisProductPictures)
                {
                    <!--card-->
                    <div class="card">@*ger grå kanter*@

                        <!--card image-->
                        <div class="view overlay">

                            <img src="~/@Url.Content(item.PicPath)"  alt="image"  class="card-img-top" />

                            <a href="#">
                                <div class="mask rgba-white-slight"></div>
                            </a>

                        </div>


                        <!--/card-->
                    </div>
                }
            </div>
        </dd>

    </dl> 
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Product.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>

<style>
    .overlay img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

</style>