﻿@page
@model WebShopRM.Pages.Products.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
    <head>
        
        @*<link href="~/css/bootstrap-multiselect.css" rel="stylesheet" />*@
        @*<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />*@
        <link href="~/lib/bootstrap-multiselect/css/bootstrap-multiselect.css" rel="stylesheet" />
    </head>
<h1>Edit</h1>

<h4>Product</h4>
<hr />
<body>
    <div class="container">
        <form method="post">
            <div class="row">

                <div class="col-md-4">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Product.Id" />
                    <div class="form-group">
                        <label asp-for="Product.ProductName" class="control-label"></label>
                        <input asp-for="Product.ProductName" class="form-control" />
                        <span asp-validation-for="Product.ProductName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Product.PartNumber" class="control-label"></label>
                        <input asp-for="Product.PartNumber" class="form-control" />
                        <span asp-validation-for="Product.PartNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Product.ISBN" class="control-label"></label>
                        <input asp-for="Product.ISBN" class="form-control" />
                        <span asp-validation-for="Product.ISBN" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Product.Description" class="control-label"></label>
                        <textarea asp-for="Product.Description" class="form-control"></textarea>
                        <span asp-validation-for="Product.Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Product.Price" class="control-label"></label>
                        <input asp-for="Product.Price" class="form-control" />
                        <span asp-validation-for="Product.Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Product.Vat" class="control-label">Moms / Sales Vat</label>
                        <input asp-for="Product.Vat" class="form-control" />
                        @*<span asp-validation-for="Tax" class="text-danger"></span>*@
                    </div>
                    <div class="form-group">
                        <label asp-for="Product.Updated" class="control-label"></label>
                        <input asp-for="Product.Updated" type="datetime" class="form-control" readonly="@(true)" /> @*asp-format="{0:yyyy-MM-dd HH:mm}"*@

                    </div>
                    <div class="form-group">
                        <label class="control-label">Kategorier</label><br />
                        @Html.ListBoxFor(model => model.SelectedCategories, new MultiSelectList(Model.AllCategories, "CategoryID", "CategoryName"), new { id = "bootstrap-multiselect", multiple = "true" })  @*{ id = "multiSelectDropDown", multiple = "true" })*@

                    </div>

                    <div class="form-group" style="padding-bottom:10px">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>

                </div>

                @*todo make at least two rows of pictures*@
                @*<div class="row">*@
                <div class="col-md-4">
                    @if (Model.Pictures != null)
                    {
                        for (var i = 0; i < Model.Pictures.Count(); i++)
                        {
                            <div class="form-group">
                                <div id="picFrame">
                                    <div id="divItem">
                                        <div id="divPic">
                                            <img src="~/@Url.Content(Model.Pictures.ElementAt(i).PicPath)" Style="Width: 100px" alt="image" />

                                        </div>
                                        <div id="oneRow">
                                            <input type="text" id="PicName" asp-for="@Model.Pictures[i].PicName" style="border:none" readonly="readonly" />
                                        </div>
                                    </div>
                                    <div class="chk">

                                        <input asp-for="@Model.LstPicItems[i].selectPic" type="checkbox" />
                                        <input asp-for="@Model.LstPicItems[i].picture.PictureID" type="hidden" />
                                        <label>Choose this</label>
                                    </div>
                                </div>
                            </div>

                        }
                    }
                </div>
                @*</div>*@
            </div>
        </form>
        <div>
            <a asp-page="./Index">Back to List</a>
        </div>

        <div class="container footer">

        </div>
    </div>
    

    @section Scripts {


        @*<script type="text/javascript" src="lib/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="lib/bootstrap/dist/js/bootstrap.min.js"></script>*@



        @*<script type="text/javascript" src="js/bootstrap.min.js"></script>*@
        @*<script type="text/javascript" src="js/bootstrap-multiselect.js"></script>*@
        @*<script src="~/lib/bootstrap-multiselect/js/bootstrap-multiselect.js"></script>*@

        <script src="~/lib/bootstrap-multiselect/js/bootstrap-multiselect.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                $("#bootstrap-multiselect").multiselect();
            });
        </script>

        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
    <style>
        #picFrame {
            border-style: solid;
            border-color: lightgray;
            border-width: 1px;
            border-radius: 5px;
            padding: 10px;
        }

        #divPic img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>