﻿@page
@model WebShopRM.Pages.Products.IndexModel

@System.Globalization.CultureInfo.CurrentUICulture

@{
    ViewData["Title"] = "Index";
}

<h2>Index Product list</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Picture
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ProductName)
            </th>
            <th nowrap>
                Part Number @*@Html.DisplayNameFor(model => model.Product[0].PartNumber)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Updated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.productAndPictures)
        {
           <tr>
               <td id="tdPic">
                     
                           <img src="~/@Url.Content(item.picture.PicPath)" id="imgProduct" style="height:64px" />

               </td>
            <td>
                @Html.DisplayFor(modelItem => item.product.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.product.PartNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.product.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.product.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.product.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.product.Updated)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.product.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.product.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.product.Id">Delete</a>
           </td>
        </tr>
        }
    </tbody>
</table>
<style>
    #tdPic{
        padding : unset ;
        vertical-align:middle;
    }
</style>
